<div class="section">
    <div class="container-left">
        <div class="title-text">
            <h1>Contactame</h1>
        </div>
        <div class="title-text-contact">
            <h6>Si tienes alguna pregunta sobre mi trabajo o simplemente quieres ponerte en contacto, no dudes en enviarme un mensaje. Estaré encantado de charlar contigo y responder lo que necesites. ¡Espero tu mensaje!</h6>
        </div>
        <div class="section-link-contact">
            <a href="https://www.linkedin.com/in/prado-santiago-o1/" class="button-contact-link" target="_blank">
                <button class="button-contact">
                    <span>
                        <img src="assets/logo-linkedin.png">Linkedin
                    </span>
                </button>
            </a>
            <a href="https://github.com/SantyPrado01" class="button-contact-link" target="_blank">
                <button class="button-contact">
                    <span>
                        <img src="assets/logo-github.png">GitHub
                    </span>
                </button>
            </a>
            <a href="assets/CV - Santiago Prado.pdf" class="button-contact-link" target="_blank">
                <button class="button-contact">
                    <span>
                        <img src="assets/logo-descarga.png">CV
                    </span>
                </button>
            </a>
        </div>
    </div>
    <div class="container-right">
        <img src="assets/foto-perfil.png">
    </div>
</div>