<div class="section-proyectos">
    <div class="container-text">
        <div class="text-titulo">
            <h1>Proyectos</h1>
        </div>
    </div>
    <div class="container-list-proyectos">
        <div class="item-proyecto">
            <div class="portada-proyecto">
              <img src="assets/Proyecto-BookLend.png" alt="Portada Proyecto" />
            </div>
            <div class="header-proyecto">
                <div class="titulo-proyecto">
                    <h4>Sistema BookLend</h4>
                    <a href="https://github.com/tu-repositorio" target="_blank" class="link-repositorio">
                    <img src="assets/icono-externo.png" alt="Logo Externo"/>
                    </a>
                </div>
                <div class="tecnologias-utilizadas">
                    <img src="assets/logo-typescript.png" alt="TypeScript" />
                    <img src="assets/logo-angular.png" alt="Angular" />
                    <img src="assets/logo-nestjs.png" alt="Nest.Js" />
                    <img src="assets/logo-mysql.png" alt="MySQL" />
                    <img src="assets/logo-jwt.png" alt="JWT" />
                </div>
            </div>
            <p>
                BookLend es sistema de gestión de biblioteca permite la administración de libros, socios y préstamos.
            </p>
        </div>
        <div class="item-proyecto">
            <div class="portada-proyecto">
              <img src="assets/Proyecto-RRHH.png" alt="Portada Proyecto" />
            </div>
            <div class="header-proyecto">
                <div class="titulo-proyecto">
                    <h4>Sistema RRHH</h4>
                    <a href="https://github.com/tu-repositorio" target="_blank" class="link-repositorio">
                    <img src="assets/icono-externo.png" alt="Logo Externo"/>
                    </a>
                </div>
                <div class="tecnologias-utilizadas">
                    <img src="assets/logo-typescript.png" alt="TypeScript" />
                    <img src="assets/logo-angular.png" alt="Angular" />
                    <img src="assets/logo-nestjs.png" alt="Nest.Js" />
                    <img src="assets/logo-mysql.png" alt="MySQL" />
                    <img src="assets/logo-jwt.png" alt="JWT" />
                </div>
            </div>
            <p>
                Este un sistema de gestión de recursos humanos diseñado para optimizar la administración de empleados, horarios, categorías, empresas y facturas.
            </p>
        </div>

        <div class="item-proyecto">
            <div class="portada-proyecto">
              <img src="assets/Proyecto-textil.png" alt="Portada Proyecto" />
            </div>
            <div class="header-proyecto">
                <div class="titulo-proyecto">
                    <h4>Textil La Jardinera</h4>
                    <a href="https://github.com/tu-repositorio" target="_blank" class="link-repositorio">
                    <img src="assets/icono-externo.png" alt="Logo Externo"/>
                    </a>
                </div>
                <div class="tecnologias-utilizadas">
                    <img src="assets/logo-html.png" alt="HTML" />
                    <img src="assets/logo-css.png" alt="CSS" />
                    <img src="assets/logo-django.png" alt="Django" />
                    <img src="assets/logo-mysql.png" alt="MySQL" />
                </div>
            </div>
            <p>
                Esta web esta diseñada para mostrar informacion sobre la empresa Textil La Jardinera. 
            </p>
        </div>

        <div class="item-proyecto">
            <div class="portada-proyecto">
              <img src="assets/Proyecto-CRUD.png" alt="Portada Proyecto" />
            </div>
            <div class="header-proyecto">
                <div class="titulo-proyecto">
                    <h4>Sistema Tares</h4>
                    <a href="https://github.com/tu-repositorio" target="_blank" class="link-repositorio">
                    <img src="assets/icono-externo.png" alt="Logo Externo"/>
                    </a>
                </div>
                <div class="tecnologias-utilizadas">
                    <img src="assets/logo-typescript.png" alt="TypeScript" />
                    <img src="assets/logo-angular.png" alt="Angular" />
                    <img src="assets/logo-nestjs.png" alt="Nest.Js" />
                    <img src="assets/logo-mysql.png" alt="MySQL" />
                    <img src="assets/logo-jwt.png" alt="JWT" />
                </div>
            </div>
            <p>
                Este proyecto es una aplicación CRUD.
            </p>
        </div>

        <div class="item-proyecto">
            <div class="portada-proyecto">
              <img src="assets/Proyecto-Preguntados.png" alt="Portada Proyecto" />
            </div>
            <div class="header-proyecto">
                <div class="titulo-proyecto">
                    <h4>Juego Preguntados</h4>
                    <a href="https://github.com/SantyPrado01/Juego-Preguntados" target="_blank" class="link-repositorio">
                    <img src="assets/icono-externo.png" alt="Logo Externo"/>
                    </a>
                </div>
                <div class="tecnologias-utilizadas">
                    <img src="assets/logo-python.png" alt="Python" />
                </div>
            </div>
            <p>
                Este proyecto es un juego estilo "Preguntados" desarrollado como parte de la celebración por los 50 años de mi instituto. 
            </p>
        </div>

        <div class="item-proyecto">
            <div class="portada-proyecto">
              <img src="assets/Proyecto-Python.png" alt="Portada Proyecto" />
            </div>
            <div class="header-proyecto">
                <div class="titulo-proyecto">
                    <h4>Proyectos Avanzados Python</h4>
                    <a href="https://github.com/SantyPrado01/Python-Projects-Advanced" target="_blank" class="link-repositorio">
                    <img src="assets/icono-externo.png" alt="Logo Externo"/>
                    </a>
                </div>
                <div class="tecnologias-utilizadas">
                    <img src="assets/logo-python.png" alt="Python" />
                </div>
            </div>
            <p>
                Este es mi repositorio de proyectos avanzados de Python, aquí se encuentran varios proyectos de Python que he creado.
            </p>
        </div>
    </div>      
</div>