<div class="section">
    <div class="container-section-sobreMi">
        <div class="section-sobreMi-left">
            <div class="text-titulo">
                <h1>Sobre Mi</h1>
            </div>
            <h6>
                ¡Hola! Soy Santiago Prado, y soy un apasionado por la tecnología. Empecé creando proyectos simples, y con el tiempo, aprendí a programar y trabajar con <span class="text-azul">Python, TypeScript, NestJS, Angular y SQL.</span><br>
                He tenido la oportunidad de desarrollar sistemas para empresas y trabajar en proyectos de desarrollo web que combinan funcionalidad y diseño. Me gusta crear soluciones, automatizar tareas y aprender constantemente nuevas tecnologías.<br> 
                Actualmente, estoy enfocado en el <span class="text-azul">Desarrollo Backend.</span> Pero diseño soluciones completas, desde el frontend hasta el backend.<br>
                Cuando no estoy programando, disfruto viendo series, disfrutando de los videojuegos o simplemente saliendo a caminar y desconectar un poco. <br>
                <span class="text-azul">¡Siempre estoy buscando nuevos desafíos y formas de mejorar!</span>
            </h6>
        </div>
        <div class="section-sobreMi-right">
           <img src="assets/foto-saludo.png">
        </div>
    </div>
    <div class="container-section-tecnologias">
        <div class="text-titulo">
                <h1>Tecnologias y Herramientas</h1>
        </div>
        <h6>
            Desarrollo sitios web de alto rendimiento, centrados en el usuario, para dispositivos móviles y computadoras de escritorio, utilizando una combinación de tecnologías innovadoras y software confiable.
        </h6>
        <div class="tecnologias-listado">
            <div #InicioComponent class="tecnologia-item">
                <img src="assets/logo-html.png" alt="HTML">
                <span>HTML</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-css.png" alt="CSS">
                <span>CSS</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-angular.png" alt="Angular">
                <span>Angular</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-typescript.png" alt="TypeScript">
                <span>TypeScript</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-nodejs.png" alt="NodeJs">
                <span>NodeJS</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-nestjs.png" alt="NestJS">
                <span>NestJS</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-jwt.png" alt="JWT">
                <span>JWT</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-python.png" alt="Python">
                <span>Python</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-django.png" alt="Django">
                <span>Django</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-mysql.png" alt="MySQL">
                <span>MySQL</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-wordpress.png" alt="Wordpress">
                <span>Wordpress</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-hostinger.png" alt="Hostinger">
                <span>Hostinger</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-trello.png" alt="Trello">
                <span>Trello</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-notion.png" alt="Notion">
                <span>Notion</span>
            </div>
            <div class="tecnologia-item">
                <img src="assets/logo-figma.png" alt="Figma">
                <span>Figma</span>
            </div>
        </div>
    </div>
</div>