<div class="section">
    <div class="container-text">
        <div class="text-titulo">
            <h1>Servicios</h1>
        </div>
    </div>
    <div class="container-list-servicios">
        <div class="item-servicio">
            <div class="header-servicio">
                <div class="icono-servicio">
                    <img src="assets/logo-webdeveloper.png">
                </div>
                <h4>Desarrollo de Sitios Web</h4>
            </div>
            <p>Diseño e implementación de sitios web modernos, responsivos y optimizados para una excelente experiencia de usuario, utilizando diferentes tecnologías segun la necesidad del proyecto.</p>
        </div>
        <div class="item-servicio">
            <div class="header-servicio">
                <div class="icono-servicio">
                    <img src="assets/logo-backend.png">
                </div>
                <h4>Desarrollo de Back-end</h4>
            </div>
            <p>Creación de APIs robustas y escalables, integración con bases de datos y desarrollo de sistemas complejos utilizando NestJS, Python y SQL.</p>
        </div>
        <div class="item-servicio">
            <div class="header-servicio">
                <div class="icono-servicio">
                    <img src="assets/logo-error.png">
                </div>
                <h4>Soporte y Mantenimiento</h4>
            </div>
            <p>Resolución de problemas técnicos, mejora de rendimiento y mantenimiento continuo para garantizar la estabilidad y eficiencia de sistemas y aplicaciones.</p>
        </div>
        <div class="item-servicio">
            <div class="header-servicio">
                <div class="icono-servicio">
                    <img src="assets/logo-nube.png">
                </div>
                <h4>Servicios de Hosting</h4>
            </div>
            <p>Configuración y gestión de servidores y plataformas de hosting para asegurar la disponibilidad, seguridad y rendimiento óptimo de sitios y aplicaciones.</p>
        </div>
    </div>
</div>