<app-barra-navegacion></app-barra-navegacion>

<div class="section-intro">
    <div class="intro">
        <div class="intro-text">
            <h6 id="intro-text"></h6>
        </div>
        <div class="intro-text-principal">
            <h1 id="intro-text-principal">S</h1>
        </div>
        <div class="intro-text-detalle">
            <p>Me especializo en el desarrollo e implementación de sitios y aplicaciones web. <span class="text-gris">Diseño soluciones completas, desde el frontend hasta el backend, optimizando la experiencia del usuario, el rendimiento y la gestión de datos. </span></p>
        </div>
        <div class="section-intro-contact">
            <a href="https://www.linkedin.com/in/prado-santiago-o1/" class="button-contact-link" target="_blank">
                <button class="button-contact">
                    <span>
                        <img src="assets/logo-linkedin.png">Linkedin
                    </span>
                </button>
            </a>
            <a href="https://github.com/SantyPrado01" class="button-contact-link" target="_blank">
                <button class="button-contact">
                    <span>
                        <img src="assets/logo-github.png">GitHub
                    </span>
                </button>
            </a>
            <a href="assets/CV - Santiago Prado.pdf" class="button-contact-link" target="_blank">
                <button class="button-contact">
                    <span>
                        <img src="assets/logo-descarga.png">CV
                    </span>
                </button>
            </a>
        </div>
    </div>
    <div class="intro-image">
        <img src="assets/inicio.png">
    </div>
</div>


<div class="parallax"></div>

<app-sobre-mi></app-sobre-mi>

<app-servicios></app-servicios>

<app-proyectos></app-proyectos>


<div class="parallax-contact"></div>

<app-contacto-footer id="contacto"></app-contacto-footer>
